extends layout

block content
    script(type="text/javascript")= "Spotocracy = {}; Spotocracy.playlist = '" + playlist + "';"

    div(class="jumbotron")
        div(ng-controller="MenuController", class="container")
            div(class="page-header")
                h2= "Spillelistenavn: " + playlist

            p(ng-show='username') Ditt brukernavn er: {{ username }}

            div(ng-view)

    div(class="container")
        footer
            p &copy; Tobias Rusås Olsen 2014
