<div>

    <div class="panel panel-default">
        <div class="panel-body"><span ng-show="username">Ditt brukernavn er <strong>{{username}}</strong></span></div>
        <div class="panel-body" ng-show="currentArtist">Spiller nå: <strong>{{currentArtist}}</strong> - {{currentSong}}
            - {{secondsPlayedString}} - {{songDurationString}}
        </div>
    </div>

    <h2>Spillelisten</h2>

    <div ng-show="result" class="alert alert-success">{{result}}</div>
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <div ng-show="!result && !error" class="well">Stem opp
        en låt ved å klikke på den.
    </div>

    <div class="list-group">

        <div ng-hide="songs" class="panel panel-default">
            <div class="panel-body">Du har ikke lagt til noen låter i spillelisten enda. Klikk søk på toppen for å søke
                opp låter du vil legge til.
            </div>

        </div>

        <pager total-items="totalItems" ng-change="setPage(currentPage)" ng-model="currentPage"></pager>

        <div href='#/playlist' class="list-group-item"
             ng-class="{'list-group-item-success': song.uri == selectedSong.uri}" ng-repeat="song in songs">

            <div class="row">

                <div class="col-md-4"><strong>{{song.artist}}</strong> - {{song.name}} ({{song.album}}) <span class="badge pull-right">{{song.score}}</span></div>
                <div class="col-md-1"><span class="minitext">Lagt til av: {{song.addedby}}</span></div>


                <div class="col-md-6">
                    <progressbar value="(song.score/totalVotes) * 100"><span
                            style="color:black; white-space:nowrap;"></span></progressbar>
                </div>

                <button ng-click="boostTrack(song)" type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>

                <button ng-click="deleteTrack(song)" type="button" class="btn btn-default pull-right" aria-label="Left Align">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <pager total-items="totalItems" ng-change="setPage(currentPage)" ng-model="currentPage"></pager>
    </div>

</div>